pkgbase = samtools
	pkgdesc = tools for manipulating next-generation sequencing data
	pkgver = 0.1.19
	pkgrel = 1
	url = http://sourceforge.net/projects/samtools
	arch = i686
	arch = x86_64
	license = custom
	depends = perl
	depends = htslib
	optdepends = luajit: needed for r2plot.lua vcfutils.lua
	optdepends = python2: needed for varfilter.py
	options = staticlibs
	source = samtools-0.1.19.tar.gz
	md5sums = ff8b46e6096cfb452003b1ec5091d86a
	pkgname = samtools

